<html>
    <head>
        <title>
 

        </title>
<link rel="stylesheet" href="/css/style.css">
         
    </head>
    <body>
 
         {{>header}}
         <p>
             This web-app is created By Achint Narang
            
         </p>
          <img src="/achint.jpg">
         {{>footer}}
    </body>
</html>